{% extends "base.html" %}
{% block title %}EcoFurniture - Retrieve Users{% endblock %}

{% block content %}
  <h1 class="display-4">Retrieve Users</h1>
  <div>
    {% if not users_list %}
      <p>There are no users.</p>
    {% else %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>User Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user_id, user_info in users_list %}
            <tr>
              <td>{{ user_id }}</td>
              <td>{{ user_info['username'] }}</td>
              <td>{{ user_info['password'] }}</td>
              <td>{{ user_info['user_type'] }}</td>
              <td>
                <form action="{{ url_for('delete_user', user_id=user_id) }}" method="POST">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
  <a href="{{ url_for('ikeaCreation') }}" class="btn btn-primary">Add Another User</a>
{% endblock %}