{% extends "base.html" %}
{% block title %}EcoFurniture - Retrieve Users{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Discount</h1>
<div>
  {% if count == 0 %}
  <p>There are no users.</p>
  {% elif count == 1 %}
  <p>There is 1 user.</p>
  {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Discount code</th>
        <th>Discount amount</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for discount in discount_list %}
     <tr>
        <td>{{ discount.get_id() }}</td>
        <td>{{ discount.get_code() }}</td>
        <td>{{ discount.get_amount() }}</td>
        <td><a href="/updateDiscount/{{discount.get_id()}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_discount', id=discount.get_id())}}" method="POST">
<!--            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{discount.get_code()}}?');">-->
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{discount.get_id()}}">
  Delete
</button>

<!-- The Modal -->
<div class="modal" id="myModal_{{discount.get_id()}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete Confirmation</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to delete {{discount.get_code()}}?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <input type="submit" value="Delete" class="btn btn-danger">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
          </form>
        </td>
     </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

