{% block content %}
<style>
    .furniture-grid {
        display: grid;
        padding: 25px;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .furniture-item {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
    }
    .furniture-item h2 {
        margin: 0;
        font-size: 1.5em;
    }
    .furniture-item p {
        margin: 0;
    }

</style>

<div class="furniture-grid">
    {% for furniture in furniture_list %}
    {% if furniture.get_furniture_category() != "Old" and furniture.get_furniture_status() == "For Sale" %}
    <div class="furniture-item">
        {% if furniture.get_furniture_type() == "Table/Desks"%}
        <h2>Table/Desk</h2>
        {% elif furniture.get_furniture_type() == "Chairs"%}
        <h2>Chair</h2>
        {% elif furniture.get_furniture_type() == "Sofas"%}
        <h2>Sofa</h2>
        {% elif furniture.get_furniture_type() == "Bed Frames"%}
        <h2>Bed Frame</h2>
        {% elif furniture.get_furniture_type() == "Wardrobes"%}
        <h2>Wardrobe</h2>
        {% elif furniture.get_furniture_type() == "Shelves"%}
        <h2>Shelve</h2>
        {% endif %}
        <p>Quantity: {{ furniture.get_furniture_quantity() }}</p>
        <p>Category:
            {% if furniture.get_furniture_category() == "New" %}
            New
            {% elif furniture.get_furniture_category() == "Upcycled" %}
            Upcycled
            {% endif %}
        </p>
        <p>Unit Price: S${{ furniture.get_furniture_price() }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}